<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>eleventyPad</title>
  <link rel="stylesheet" href="unpkg.com/normalize.css/">
  <style>
    {% include styles.css %}
  </style>
</head>
<body>
  {{ content }}
</body>
</html>
